@font-face {
    font-family: 'MyCustomFont';
    src: url('../assets/font/gilroy/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style:normal;
}
@font-face{
    font-family: "Gilroy";
    src: url('../assets/font/gilroy/Gilroy-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy-light";
    src: url('../assets/font/gilroy/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style:oblique;
}
body{
    background-color: #ffffff;
    font-family: Gilroy;
    width: 95%;
}
.navigation{
    background-color:  #ffffffff; 
    height: 80px;
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    }
.logo{
    margin-left: 89px;
}
.nav-content{
    padding-top: 6PX;
    margin-left: 100px;
    font-family:Arial, Helvetica, sans-serif;
}
.other{
    color:#3d4152;
    background-color:transparent;
    border: none;
    font-size: 14px; 
    font-weight: bold; 
    margin-left: 46px; 
}
.othercontent{
    padding-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-width: 2.1px;
    width: fit-content;
}
.other:hover{
    color: #fc8019;
}
.chevron-down-arrow{
    height: 10px;
    padding-left: 15px;
    width: 30px;
    color:#3d4152;
}
.chevron-down-arrow:hover{
    color: #fc8019;
}
.coperate{
    background-color:transparent;
    border:none;
   margin-left: 200px;
    padding-top: 25px;
}
.coperate img{
    margin-top:-10px;
}
.coperate span{
    padding-left: 10px;
    font-size: 16px;
}
.coperate:hover{
    color: #fc8019;
}
.search{
    background-color:transparent;
    border:none;
    margin-left: 50px;
    padding-top: 25px;
}
.search span :nth-child(1){
    color:#3d4152;
    margin-left: -8px;
    font-size: 16px;
    font-family: ProximaNova, arial, "Helvetica Neue", sans-serif;
}
.search:hover span{
    color: #fc8019;
}
.glyphicon{
 font-size: 16px;
 font-weight:100;
 color: #3d4152;
}
.offer {
   background-color: transparent;
    border: none;
    color: #3d4152;
  margin-left: 50px;
    font-size: 16px;
    cursor: pointer;
    
}
.offer span{
   margin-left: -9px;
}
.hover-image{
    margin-left: -39px;
}
.offer img {
    height: 24px;
    width: 24px;
    margin-right: 10px;   
}
.offer .hover-image {
    opacity: 0;
}
.offer sup{
    color: #fc8019;
    font-size: 10px;
    font-family: ProximaNova, arial, "Helvetica Neue", sans-serif;
}
.offer:hover {
   color: #fc8019;
}
.offer:hover .default-image {
    opacity: 0;
}
.offer:hover .hover-image {
    opacity: 1;
}
.help{
    margin-left: 50px;
    background-color: transparent;
    border: none;
    color: #3d4152;
    font-size: 16px;
    cursor: pointer;
}
.help span{
    margin-left: -5px;
}
.helphover{
    margin-left: -38px;
}
.help img{
    height: 24px;
    width: 24px;
    margin-right: 10px;
}
.help:hover span{
    color: #fc8019;
}
.helphover{
    opacity: 0;
}
.help:hover .helpdefault{
    opacity: 0;
}
.help:hover .helphover{
    opacity: 1;
}
.user{
    margin-left: 50px;
    background-color: transparent;
    border: none;
    color: #3d4152;
    font-size: 16px;
    cursor: pointer;
}
.userhover{
    margin-left: -22.5px;
}
.userhover{
    opacity: 0;
}
.user:hover .userdefault{
    opacity: 0;
}
.user:hover .userhover{
    opacity: 1;
}
.user:hover {
    color: #fc8019;
}
.cart{
    margin-left: 50px;
    background-color: transparent;
    border: none;
    color: #3d4152;
    font-size: 16px;
}
.cartcontent{
    background-color: transparent;
    border: 1px solid #3d4152;
    padding: 05px;
    padding-bottom: 0px;
}
.cart:hover{
  color: #fc8019;
}
.cart:hover .cartcontent{
    border: 1px solid #fc8019;
}
.dish{
    margin-top: 100px;
}
.dish h1{
    margin-left: 237px;
    font-size: 24px;
    color: #02060c;
    font-weight: bold;
    opacity: 92%;
    font-family: gilroy-bold 400;
}
.biriyani img{
    height: 180px;
    width: 144px;
    margin-left: 250px;
}
.row{
    margin-left: 108px;
   overflow-x:hidden;
}
.borderimage{
    border-bottom:1px solid #989898;
    width: 88%;
}
.row img{
    height: 208px;
    width: 162px;
    padding-right: 28px;  
}
.row button{
    background-color: transparent;
    border: none;
}
.inactive{
    display: none;
}
.inactive1{
    display: none;
}
.previous{
    background-color: transparent;
    border-radius: 100%;
    border: none;
    background: rgba(2, 6, 12, 0.15);
    margin-left: 650px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bolder;
    opacity: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.next{
    background-color: transparent;
    border-radius: 100%;
    border: none;
    background: rgba(2, 6, 12, 0.15);
    margin-left: 20px;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.topres{
    margin-left: 237px;
    width: 1080px;
    overflow-x: hidden;
}
.topresheader{
    font-size: 24px;
    color: #282c3f;
    font-weight: bolder;
    opacity: 92%;
    font-family:"Basis Grotesque Pro", Arial, sans-serif;
}
.restcardcontainer{
    width: 450px;
    display: flex;
}
.restcard{
    width: 273px;
    margin-right: 20px;
    font-family: 'MyCustomFont';
    height: 340px;
}
.restcard:hover {
    cursor: pointer;

    /* img{
        width: 265px;
        height: 175px;
        transition: width 0.1s ease-in, height 0.1s ease-in;  
    }
    .restcardimagecontent{
        font-size: 19px;
        width: 100%;
        transition: width 0.1s ease-in, height 0.1s ease-in;  
    }
    .star{
        height:25px ;
        width: 25px;
        margin-top: -60px;
        transition: width 0.1s ease-in, height 0.1s ease-in;  
    }
    .header{
        font-size: 20px;
        width: 100%;
        margin-top: 12px;
        transition: width 0.1s ease-in, height 0.1s ease-in;  
    }
    .inlinelist{
        margin-top: -52px;
        font-size: 18px;
        transition: width 0.1s ease-in, height 0.1s ease-in;  
        }
    .reststyle{
        overflow-x: visible;
        width: 100%;
        transition: width 0.1s ease-in, height 0.1s ease-in;  
    }
    .location{
        margin-top: -30px;
        transition: width 0.1s ease-in, height 0.1s ease-in; 
        width: 100%; 
    }
    .restcardimagecontent{
        height: 40px;
    }
   .slider{
        margin-top: 510px; */
    /* } */
}
/* .restcard:hover p{
    width: 50px;
    height: 50px;
    transition: width 0.3s ease height 0.3s ease;
} */
.restcard {
    position: relative;
    width: 273px;
}
.image{
    width: 273px;
    height: 182px;
    border-radius: 7%;
    object-fit: cover;
}
.restcardimagecontent{
    position: absolute;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 22px;
    text-transform: uppercase;
    height: 35px;
    padding-top: 10px;
    width: 100%;
    background:  linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
    box-sizing: border-box;
    border-radius: 15%;
    border-bottom-right-radius:0% ;
    border-bottom-left-radius:0% ;
    margin-top: -32px;
}
.restcardcontent .header{
    font-size: 20px;
    font-family: gilroy-bold 400;
    font-weight: 400;
    margin-top: 10px;
    color:#02060c;
}
.header{
    width: 100%;
    letter-spacing: -0.3px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.restcardcontent img{
    margin-top: -5px;
    width: 24px;
    height: 24px;
}
.restcardcontent span{
    font-size: 20px;
    font-family: "MyCustomFont";
    font-weight:400;
    list-style-type: circle;
}
.inlinelist{
    display: flex;
    margin-top: -25px;
    margin-left: 30px;
    font-family: "MyCustomFont";
}
.inlinelist ul{
    margin-left: -10px;
    font-family: "MyCustomFont";
}
.reststyle {
    font-size: 16px;
    color: #02060c;
    opacity: 62%;
    overflow-x: hidden;
    width: 100%;
    letter-spacing: -0.3px;
    text-overflow: ellipsis;
    font-weight: 800;
    white-space: nowrap;
}
.location{
    font-size: 16px;
    line-height: 19px;
    color: #02060c;
    opacity: 62%;
    font-weight: 800;
}
.previous1{
    background-color: transparent;
    border-radius: 100%;
    border: none;
    background: rgba(2, 6, 12, 0.15);
    margin-left: 450px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bolder;
    opacity: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.next1{
    background-color: transparent;
    border-radius: 100%;
    border: none;
    background: rgba(2, 6, 12, 0.15);
    margin-left: 20px;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.row1{
    overflow-x: hidden;
}
.activein{
    display: none;
}
.activein1{
    display: none;
    overflow: hidden;
    width: 1080px;
}
.activein2{
    display: none;
    overflow: hidden;
    width: 1080px;
}
input[type='range']{
    margin-left: 500px;
    margin-top: 50px;
    width: 120px;
}
.slider {
    -webkit-appearance: none;
    width: 90px;
    height: 7px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 7px;
    border-radius: 20px;
    background: #fc8019;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 7px;
    background: #fc8019;
    cursor: pointer;
}
.restcard:hover{
    transform: scale(0.95);
    transition: transform 0.2s;
    /* .image1{
            width: 250px;
            height: 167px;
            border-bottom-left-radius:0%;
            border-bottom-right-radius:0% ;
            transition: width 0.1s ease-in, height 0.1s ease-in;  
        
    }
    .restcardimagecontent1{
        font-size: 19px;
        width: 253px;
        transition: width 0.1s ease-in, height 0.1s ease-in;  
    }
    .restcardimagecontent1{
        height: 33px;
        margin-top: -33px;
       
        width: 244px;
    }
    .header1{
        font-size: 20px;
        width: 100%;
        margin-top: 10px;
        transition: width 0.1s ease-in, height 0.1s ease-in;  
    }
    .star{
        height:24px ;
        width: 24px;
        margin-top: -50px;
        transition: width 0.1s ease-in, height 0.1s ease-in;  
    }
    .inlinelist{
        font-size: 18px;
        padding-top: 5px;
    }
    .reststyle{
        margin-top: 0px;
    }
    .location{
        margin-top: -30px;
    } */
}
.restcard1{
    margin-right: 1px;
}
.restcardimagecontent1{
    position: absolute;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 22px;
    text-transform: uppercase;
    height: 35px;
    padding-top: 10px;
    width: 253px;
    background:  linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
    box-sizing: border-box;
    border-radius: 15%;
    border-bottom-right-radius:0% ;
    border-bottom-left-radius:0% ;
    margin-top: -32px;
}
.restcardcontent .header1{
    font-size: 20px;
    font-family: gilroy-bold 400;
    font-weight: 400;
    margin-top: 10px;
    color:#02060c;
}
.header1{
    width: 100%;
    letter-spacing: -0.3px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.image1{
    width: 253px;
    height: 169px;
    border-radius: 7%;
    object-fit: cover;
}
.navbutton{
    background-color: transparent;
    border-radius: 18px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgba(2, 6, 12, 0.15);
    box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
    color: rgba(2, 6, 12, 0.75);
    font-size: 14px;
    font-weight: 400;
}
.navbutton img{
    width: 25px;
    padding-left: 5px;
}
.cities, .cusaines, .explore{
    margin-left: 233px;
}
.cityheader, .cusianesheader, .exploreheader{
    font-size: 24px;
    letter-spacing: -0.4px;
    color: #02060c;
    font-weight: 600;
}
.citybuttons, .cusainesbuttons {
    display: flex;
    margin-bottom: 30px;
}
.citybutton, .cusianebutton{
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid rgba(2, 6, 12, 0.15);
    color: rgb(3, 3, 3);
    font-size: 16px;
    font-weight: lighter;
    margin-right: 35px;
    width: 260px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap:nowrap;
    font-family: "Gilroy-light";
}
.forth {
    margin-right: 0;
}
.explorebuttons{
    display: flex;
}
.explorebutton{
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid rgba(2, 6, 12, 0.15);
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight:lighter;
    margin-right: 35px;
    width: 560px;
    font-family: "Gilroy-light";
}
.applink{
    background-color: rgb(240, 240, 245);
    width: 105%;
}
.content{
    margin-left: 233px;
    display: flex;
    align-items: center;
    height: 110px;
}
.content h2{
    font-size: 28px;
    width: 500px;
    margin-top: 0px;
    margin-right: 116px;
}
.content img{
    width: 201.55px;
    height: 64px;
    margin-top: -10px;
    margin-right: 20px;
}
.footer{
    width: 105%;
    background-color: black;
    display: flex;
    height: 550px;
}
.footer-content{
    margin-left: 233px;
    padding-top: 50px;
}
.footer-img{
    display: flex;
}
.footer-img-content{
    margin-left: 10px;
    margin-top: 10px;
    color:#ffffff;
}
.copyright{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-family:"Basis Grotesque Pro", Arial, sans-seri
}
.company{
    list-style-type: none;
    margin-left: 300px;
    margin-top: -100px;
}
.company a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-family: "Gilroy-light";
    text-decoration: none;
}
.contact{
    margin-left: 600px;
    margin-top: -312px;
}
.contact a{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-family: "Gilroy-light";
    text-decoration: none;
}
.legal{
    margin-left: 600px;
    margin-top: 80px;
}
.legal a{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-family: "Gilroy-light";
    text-decoration: none;
}
.deliver{
    margin-left: 900px;
    margin-top: -488px;
}
.deliver a{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-family: "Gilroy-light";
    text-decoration: none;
}
.button{
    margin-left: 50px;
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-family: "Gilroy-light";
    border: 1px solid rgba(255, 255, 255, 0.05);
}